@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Products";
}

@model List<Product>;

@{ await Html.RenderPartialAsync("_SuccessAlertPartial"); }

<a asp-action="Create" class="btn btn-primary mt-4 whiteAnchor">Add New</a>
<hr />
<h2>Products List</h2>
<table class="table" id="productsTable">
    <thead>
        <tr>
            <th class="actionsCell">#</th>
            <th>Id</th>
            <th>Description</th>
            <th>Barcode</th>
            <th>Category</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>
                <i id="deleteButton" data-id="@product.Id" class="material-icons cursorPointer">delete</i>
                <a asp-action="Edit" asp-route-id="@product.Id" class="blackAnchor"><i class="material-icons">edit</i></a>
            </td>
            <td>@product.Id</td>
            <td>@product.Description</td>
            <td>@product.Barcode</td>
            <td>@product.Category.Description</td>
            <td>@product.CreationDate</td>
        </tr>
        }
    </tbody>
</table>

@{
    await Html.RenderPartialAsync("_ConfirmationModalPartial");
}